<%- include('includes/header'); %>

    <main>
        <section class='hero mt-5 mb-5'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-8 mx-auto'>
                        <div class='introduction text-center'>
                            <div class='title'>
                                <h1>Welcome <%= user.email %></h1>
                            </div>

                            <div class='subtitle'>
                                <p>Do you wanna log out from your Agenda? Click the button bellow.</p>
                            </div>
                        </div>

                        <div class='buttons d-flex justify-content-center'>
                            <button type='button' class='btn btn-warning flex-fill logout'><a href='/login/logout'>Log out</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('includes/footer'); %>