@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 48px 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

h1 {
    margin-bottom: 32px !important;
}

ul,
ol {
  text-decoration: none;
}

li~li {
  margin-top: 12px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  transition: .3s;
}

a:hover {
  text-decoration: underline !important;
  color: #0d6efd !important;
}

th::first-letter {
    text-transform: capitalize;
}